


body {
    scroll-behavior: auto;
    background: #ffffff;
    overflow-x: hidden;
    padding: 0;
    padding-right: 0 !important;
    // &::-webkit-scrollbar {
    //     display: none;
    // }
    &.with-sidebar{
        overflow-x: visible;
    }
}
/*------------------------
    Header Sticky 
--------------------------*/

// custom column

.col-lg-20{
    width: 20%;
    float: left;
}

.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.col-lg-20{
    @media (min-width: 1200px) {
        width: 20%;
        float: left;
    }
    @media #{$smlg-device} {
        width: 33%;
        float: left;
    }
    @media #{$md-layout} {
        width: 50%;
        float: left;
    }
    @media #{$sm-layout} {
        width: 50%;
        float: left;
    }
    @media #{$large-mobile} {
        width: 50%;
        float: left;
    }
    @media #{$small-mobile} {
        width: 100%;
        float: left;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5D666F !important;
    opacity: 1 !important; /* Firefox */
    font-size: 16px;
}
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5D666F  !important;
    font-size: 16px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #5D666F !important;
    font-size: 16px;
  }


.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}



// title pre-title

.over_link{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    left: 0;
    top: 0;
}



.home-one{
    background: #FFFFFF;
}

// title-area style

.elecate-center-title{
    text-align: center;
    span{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: #FF6600;
        text-transform: uppercase;
        font-family: var(--font-primary);
    }
    h3.title{
        font-weight: 700;
        font-size: 40px;
        line-height: 61px;
        color: #0C0A0A;
        text-transform: uppercase;
        margin-top: 5px;
        @media #{$sm-layout} {
            font-size: 30px;
            line-height: 42px;
            br{
                display: none;
            }
        }
    }
}
#menu-btn{
    .icon{
        margin: 0 !important;
    }
}
.elecate-left-title{
    text-align: left;
    span{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: #FF6600;
        text-transform: uppercase;
        font-family: var(--font-primary);
    }
    h3.title{
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #0C0A0A;
        text-transform: uppercase;
        margin-top: 5px;
        // @media screen and (max-width: 1919px) {
        //     font-size: 20px;
        //     line-height: 33px;
        // }
        @media #{$laptop-device} {
            font-size: 28px;
            line-height: 43px;
        }
        @media #{$sm-layout} {
            font-size: 29px;
            line-height: 41px;        
        }
    }
}


body{
    &.index-nine{
        background: #F2F2F2;
        .main-title-area-center{
            text-align: center;
            span.pre{
                color: var(--color-primary);
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-transform: uppercase;
            }
        }
    }
}




@media(min-width: 576px) {
    .container,.container-sm {
        max-width:540px
    }
}

@media(min-width: 768px) {
    .container,.container-md,.container-sm {
        max-width:720px
    }
}

@media(min-width: 992px) {
    .container,.container-lg,.container-md,.container-sm {
        max-width:960px
    }
}

@media(min-width: 1200px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl {
        max-width:1140px
    }
}

@media(min-width: 1400px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
        max-width:1366px
    }
}
@media(min-width: 1500px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
        max-width:1470px
    }
}

@media(min-width: 576px) {
    .container-2,.container-2-sm {
        max-width:540px
    }
}

@media(min-width: 768px) {
    .container-2,.container-2-md,.container-2-sm {
        max-width:720px
    }
}

@media(min-width: 992px) {
    .container-2,.container-2-lg,.container-2-md,.container-2-sm {
        max-width:960px
    }
}

@media(min-width: 1200px) {
    .container-2,.container-2-lg,.container-2-md,.container-2-sm,.container-2-xl {
        max-width:1140px
    }
}

@media(min-width: 1400px) {
    .container-2,.container-2-lg,.container-2-md,.container-2-sm,.container-2-xl,.container-2-xxl {
        max-width:1366px
    }
}
@media(min-width: 1600px) {
    .container-2,.container-2-lg,.container-2-md,.container-2-sm,.container-2-xl,.container-2-xxl {
        max-width:1544px
    }
}
.container-2{
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

@media(min-width: 576px) {
    .container-3,.container-3-sm {
        max-width:540px
    }
}

@media(min-width: 768px) {
    .container-3,.container-3-md,.container-3-sm {
        max-width:720px
    }
}

@media(min-width: 992px) {
    .container-3,.container-3-lg,.container-3-md,.container-3-sm {
        max-width:960px
    }
}

@media(min-width: 1200px) {
    .container-3,.container-3-lg,.container-3-md,.container-3-sm,.container-3-xl {
        max-width:1140px
    }
}

@media(min-width: 1400px) {
    .container-3,.container-3-lg,.container-3-md,.container-3-sm,.container-3-xl,.container-3-xxl {
        max-width:1320px
    }
}
@media(min-width: 576px) {
    .container-header,.container-header-sm {
        max-width:540px
    }
}

@media(min-width: 768px) {
    .container-header,.container-header-md,.container-header-sm {
        max-width:720px
    }
}

@media(min-width: 992px) {
    .container-header,.container-header-lg,.container-header-md,.container-header-sm {
        max-width:98%
    }
}

@media(min-width: 1200px) {
    .container-header,.container-header-lg,.container-header-md,.container-header-sm,.container-header-xl {
        max-width:1140px
    }
}

@media(min-width: 1400px) {
    .container-header,.container-header-lg,.container-header-md,.container-header-sm,.container-header-xl,.container-header-xxl {
        max-width:1320px
    }
}
.container-3,.container-header{
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}
.header-custom-container{
    max-width: 1600px;
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}
.banner-custom-container{
    max-width: 100%;
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}
.header-custom-container2{
    max-width: 1400px;
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}
.custom-container3{
    max-width: 1599px;
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.section-title-area{
    .pre-title{
        color: var(--color-primary);
        font-weight: 400;
        border-radius: 4px;
        line-height: 1;
        padding: 10px 20px;
        background: rgba(255, 112, 41, .20);
        max-width: max-content;
        margin-bottom: 20px;
    }
    .Section-title{
        font-weight: 600;
        max-width: 469px;
        color: var(--color-heading-1);
        margin-bottom: 15px;
    }
}

.demo-orange{
    .section-title-area .pre-title {
        background: var(--secondary-100);
    }
    .tmp-testimonials-area .client-content .reveiw-area .counter-area {
        background: var(--secondary-100);
        border-radius: 4px;
    }
}
.section-title-area-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-side-content{
        .sub-title{
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            color: var(--color-primary);
            font-family: var(--font-primary);
            position: relative;
            z-index: 1;
            padding-left: 0;
            max-width: max-content;
            &::after{
                content: "";
                position: absolute;
                width: 40px;
                height: 2px;
                background: linear-gradient(90deg, var(--color-primary), rgba(33, 38, 45, 0)) !important;
                right: -48px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .section-title{
            font-weight: 600;
            line-height: 58px;
        }
    }
    .right-side-button{
        .rts-text-btn{
            display: flex;
            align-items: center;
            gap: 10px;
            span{
                display: block;
                background: var(--color-primary);
                width: 80px;
                height: 80px;
                line-height: 95px;
                border-radius: 50%;
                text-align: center;
                color: var(--color-white);
                i{
                    transform: rotate(-45deg);
                    font-size: 30px;
                    font-weight: 500;
                }
                &.bcg{
                    background: var(--color-primary-2);
                }
            }
            p{
                font-size: 30px;
                line-height: 37px;
                color: var(--color-black);
                font-family: var(--font-primary);
                font-weight: 600;
            }
        }
    }
}
.section-title-area-3{
    .sub-title{
        margin: 0 auto;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: var(--color-primary);
        font-family: var(--font-primary);
        position: relative;
        max-width: max-content;
        z-index: 1;
        padding: 0 35px;
        &::before{
            content: '';
            position: absolute;
            width: 56px;
            height: 2px;
            background: linear-gradient(-90deg, var(--color-primary), rgba(33, 38, 45, 0)) !important;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after{
            content: "";
            position: absolute;
            width: 56px;
            height: 2px;
            background: linear-gradient(90deg, var(--color-primary), rgba(33, 38, 45, 0)) !important;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .section-title{
        font-weight: 600;
        line-height: 58px;
        text-align: center;
    }
}
.section-title-area-4{
    .sub-title{
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        font-family: var(--font-primary);
        position: relative;
        z-index: 1;
        padding-left: 0;
        max-width: max-content;
        &::after{
            content: '';
            position: absolute;
            width: 42px;
            right: -50px;
            top: 50%;
            transform: translateY(-50%);

            height: 2px;
            background: linear-gradient(90deg, var(--color-primary), rgba(33, 38, 45, 0)) !important;

        }
    }
    .section-title{
        font-weight: 600;
        line-height: 58px;
    }
}
ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
.bg-style{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.slider-img-one{
    background: url(../images/banner/03.webp);
}
.slider-img-two{
    background: url(../images/banner/03.webp);
}
.slider-img-three{
    background: url(../images/banner/03.webp);
}
.slider-img-four{
    background: url(../images/banner/11.webp);
}
.slider-img-seven{
    background: url(../images/banner/12.webp);
}
.slider-img-ten{
    background: url(../images/banner/25.webp);
}
.slider-img-nine{
    background: url(../images/banner/26.webp);
}

.slider-img-01{
    background: url(../images/bg/01.webp);
}
.slider-img-02{
    background: url(../images/bg/02.webp);
}
.slider-img-28{
    background: url(../images/banner/28.webp);
}
.slider-img-29{
    background: url(../images/banner/29.webp);
}

.slider-img-eight{
    background: url(../images/banner/19.webp);
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // background: linear-gradient(90deg, #000000 1.59%, rgba(0, 0, 0, 0) 81.43%) !important;
        z-index: -2 !important;
    }
}

p.desc{
    @media #{$large-mobile} {
        br{
            display: none;  
        }
    }
}
.bg-color-n{
    background: rgba(255, 112, 41, 0.05);
}

.z-1{
    z-index: 1;
}
.cg{
    color: var(--color-primary-2) !important;
    &::after,
    &::before{
        background: var(--color-primary-2) !important;
    }
}
.cw{
    color: var(--color-white) !important;
}
.bg-dark {
    background-color: #1F242E !important;
}

.radius-small{
    border-radius: 6px !important;
}
.swiper-slider{
    overflow: hidden;
}
.cp-none{
    clip-path: none !important;
    border-radius: 4px;
    overflow: hidden;
}
.bg-project{
    background: #F6F6F6;
}
.bg-project2{
    background: #fdf9f7 !important;
}

.order-change-lg{
    @media(max-width:1200px){
        order: -1;
    }
}
.bg-white-v2{
    background: #F6F6F6 !important;
}

.pagination-area{
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        li{
            width: 45px;
            height: 45px;
            line-height: 48px;
            border-radius: 4px;
            text-align: center;
            display: block;
            background: rgb(255 255 255);
            transition: var(--transition);
            font-family: var(--font-primary);
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
            i{
                font-size: 18px;
                font-weight: 300;
            }
            &.active,
            &:hover{
                background: var(--color-primary-2);
                color: var(--color-white);
            }
        }
    }
}


.color-primary{
    color: var(--color-primary);
}

.margin-shadow-30{
    padding: 20px;
    margin: -20px;
    .product-wrapper:hover {
        box-shadow: 0 4px 15px 0 rgba(215, 216, 222, 0.44);
        border: 1px solid transparent;
        transform: scale(1.02);
    }
}
.hover-moving-primary{
    position: relative;
    display: inline-block;
    transition: .3s;
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s;
    }
    &:hover{
        color: var(--color-primary) !important;
        &::after{
            transform-origin: bottom left;
            transform: scaleX(1);
        }
    }
}

.hover-bg-light{
    position: relative;
    cursor: pointer;
    z-index: 1;
    &::after{
        position: absolute;
        content: '';
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.04);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: all .3s;
        z-index: -1;
    }
    &:hover{
        &::after{
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

.subtitle-bg{
    padding: 3px 7px;
    background: var(--color-primary);
    border-radius: 3px;
    color: #fff;
}

.demo-orange{
    --color-primary: #FF7029;
    --color-primary-2: #FF7029;
}
.swiper-default-btn-style{
    position: relative;
    .swiper-btn{
        transform: translateY(-50%);
        font-size: 18px;
        background: #FFFFFF;
        box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.06);
        width: 60px;
        height: 60px;
        line-height: 62px;
        display: block;
        text-align: center;
        border-radius: 50%;
        transition: .3s;
        color: var(--color-heading-1);
        @media #{$sm-layout} {
            font-size: 16px;
            width: 45px;
            height: 45px;
            line-height: 47px;
        }
        i{
            color: var(--color-primary);
        }
        &::after{
            display: none;
        }
        &.swiper-button-prev{
            left: 0px;
            opacity: 0;
            @media #{$smlg-device} {
                left: -30px;
                opacity: 1;
            }
            @media #{$sm-layout} {
                left: 0;
            }
        }
        &.swiper-button-next{
            right: 0px;
            opacity: 0;
            @media #{$smlg-device} {
                right: -30px;
                opacity: 1;
            }
            @media #{$sm-layout} {
                right: 0;
            }
        }
        &:hover{
            background: var(--color-primary);
            transform: translateY(-50%) scale(1.15);
            i{
                color: #fff;
            }
        }
    }
    &:hover{
        .swiper-button-prev{
            left: -90px;
            opacity: 1;
            @media #{$laptop-device} {
                left: -60px;
            }
            @media #{$smlg-device} {
                left: -30px;
                opacity: 1;
            }
            @media #{$sm-layout} {
                left: 0;
            }
        }
        .swiper-button-next{
            right: -90px;
            opacity: 1;
            @media #{$laptop-device} {
                right: -60px;
            }
            @media #{$smlg-device} {
                right: -30px;
                opacity: 1;
            }
            @media #{$sm-layout} {
                right: 0;
            }
        }
    }
}

.demo-orange{
    .tmp-button-overlay-with-text{
        .tmp-icon-overlay-link-btn::after {
            background-color: var(--secondary-100);
        }
        &:hover{
            .tmp-icon-overlay-link-btn {
                background-color: var(--color-primary);
            }
            .tmp-icon-overlay-link-btn::after {
                background-color: var(--color-primary);
            }
        }
    }
}


.error-msg p{
    color: var(--color-danger);
    margin-top: 10px;
    margin-bottom: 0;
}
.success-msg p{
    color: var(--color-success);
    margin-top: 10px;
}