.account-area-wrapper {
    position: relative;
    display: flex;
    padding: 20px 10px;

    > a {
        color: var(--color-heading-1);
        span {
            font-weight: 500;
        }
    }

    .account-dropdown-wrapper {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 99;
        width: 200px;
        background-color: #fff;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
        padding: 20px 10px 20px;
        opacity: 0;
        visibility: hidden;
        border-radius: 0 0 6px 6px;
        clip: rect(0px, 200vw, 0, 0px);
        transform: translateZ(0);

        transition: 
            opacity 0.5s ease-in-out,
            clip 0.9s ease-in-out,
            visibility 0s 0.5s;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                a {
                    padding: 8px 12px;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    transition: 0.3s;
                    &:hover {
                        background: rgba(0, 0, 0, 0.04);
                    }
                }
                .profile-wrapper{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .admin-image{
                        img{
                            width: 52px;
                            min-width: 52px;
                            height: 52px;
                            border-radius: 100%;
                            border: 2px solid var(--color-primary);
                            box-shadow: var(--shadow-1);
                            padding: 3px;
                        }
                    }
                    .admin-info{
                        .name{
                            font-size: 18px;
                            margin-bottom: 5px;
                            font-weight: 500;
                            color: var(--color-heading-1);
                        }
                        a{
                            padding: 0;
                            color: var(--color-primary);
                            line-height: 1;
                            &:hover{
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }
    }

    &:hover {
        .account-dropdown-wrapper {
            opacity: 1;
            visibility: visible;
            top: 100%;

            clip: rect(0px, 100vw, 200vh, -30px);

            transition: 
                clip 0.9s ease-in-out,
                opacity 0.4s ease-in-out;
        }
    }
}
