.invers-badge-minimal {
    background: #F6F6F6;
    padding: 5px 7px;
    font-size: 12px;
    display: flex;
    height: 22px;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
    width: max-content;
    &.success{
        background: #3EB75E10;
        color: var(--color-success);
    }
    &.primary{
        background: var(--primary-200);
        color: var(--color-primary);
    }
    &.color-warning{
        background: #FF8F3C10;
        color: #FF8F3C;
    }
    &.color-danger{
        background: #FF000310;
        color: #FF0003;
    }
}
