.tmp-bread-crumb-area{
    .breadcrumb-inner{
        position: relative;
        z-index: 1;
        &.text-start{
            .meta{
                justify-content: flex-start;
            }
        }
        .watermark{
            color: black;
            -webkit-text-fill-color: white; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #E4E4E4;
            font-size: 160px;
            line-height: 1;
            font-weight: 600;
            font-family: var(--font-primary);
            opacity: .4;
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            width: max-content;
        }
        .title{
            font-size: 46px;
            font-weight: 700;
            line-height: 1.3;
            @media #{$sm-layout} {
                line-height: 1.3;
                font-size: 38px !important;
            }
            @media #{$large-mobile} {
                line-height: 1.3;
                font-size: 28px !important;
            }
        }
        .desc{
            max-width: 519px;
            margin: auto;
            margin-bottom: 20px;
        }
        .meta{
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            span{
                i{
                    font-size: 11px;
                }
            }
            a{
                font-weight: 400;
                color: #717580;
                i{
                    color: var(--color-primary);
                }
                &.next{
                    opacity: .54;
                }
            }
        }
    }
}

.gradient-breadcrumb-1{
    background: linear-gradient(white 0%, #f4f7ff 100%);
}


.large-bread-crumb-left-content{
    .meta{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
        span{
            i{
                font-size: 12px;
            }
        }
        a{
            font-weight: 400;
            color: #717580;
            &.next{
                opacity: .54;
            }
        }
    }
    .title{
        margin-top: 20px;
        font-size: 56px;
        line-height: 1.4;
        @media #{$laptop-sm} {
            font-size: 44px;
        }
        @media #{$smlg-device} {
            font-size: 36px;
        }
        @media #{$large-mobile} {
            font-size: 30px;
        }
    }
    p.desc{
        font-size: 18px;
        line-height: 1.5;
    }
}

.breadcrumb-user{
    height: 280px;
    @media #{$sm-layout} {
        height: 190px;
    }
}

.pb-controler-breadcrumb{
    padding-bottom: 150px;
}

.pb-controler-breadcrumb + section {
  margin-top: -170px;
}

.bg-image-breadcrumb{
    height: 420px;
    background-image: url(../images/service/breadcrumb.webp);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    @media #{$sm-layout} {
        height: 250px;
    }
    &.not-overlay{
        background-image: url(../images/service/breadcrumb-1.webp);
        &::after{
            display: none;
        }
    }
    *{
        color: var(--color-white);
    }
    &::after{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: #000;
        opacity: .3;
        z-index: -1;
    }
    .breadcrumb-inner{
        .title{
            font-size: 54px;
        }
    }
    .breadcrumb-inner .meta{
        a{
            color: var(--color-white);
        }
    }
}
