
// cart style hear
.cart-bar {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    width: 500px;
    height: 100%;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1010;
    @media #{$large-mobile} {
        width: 360px;
    }
    @media #{$small-mobile} {
        width: 320px;
    }
}
.cart-bar.show {
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.cart-bar .cart-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #E7E7E7;
}
.cart-bar .cart-header .cart-heading {
    font-size: 17px;
    font-weight: 600;
    color: #000000;
    font-family: var(--font-secondary);
}
.close-cart {
    cursor: pointer;
    margin-top: -11px;
    height: 45px;
    width: 45px;
    background: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        transition: .3s;
        color: var(--color-heading-1);
        font-size: 22px;
    }
    &:hover{
        i{
            transform: scale(1.3);
            color: var(--color-primary-2);
        }
    }
}
.cart-bar .product-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px dashed #E7E7E7;
}
.product-item {
    margin-bottom: 65px;
    position: relative;
}
.cart-bar .product-item:last-child {
    margin-bottom: 0;
}
.cart-bar .product-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.cart-bar .cart-edit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.cart-edit {
    margin-right: 40px;
    @media #{$small-mobile} {
        margin-right: 13px;
    }
}
.cart-bar .product-detail .product-thumb {
    margin-right: 15px;
    max-width: 75px;
    border-radius: 4px;
    overflow: hidden;
}
.cart-bar .cart-edit .quantity-edit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3px 10px;
    border-radius: 3px;
    margin-top: 3px;
    border: 1px dashed var(--color-border);
}
.cart-edit .quantity-edit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3px 10px;
    border-radius: 3px;
}
.cart-bar .cart-edit .item-wrapper {
    display: inline-block;
    .delete-cart{
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #ffffff;
        position: absolute;
        top: -8px;
        right: 3px;
        z-index: 1;
        &::after{
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            background: #f1f1f1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(.2);
            opacity: 0;
            transition: .3s;
            border-radius: 50%;
            z-index: -1;
        }
        i{
            color: var(--color-heading-1);
        }
        &:hover{
            i{
                color: var(--color-heading-1);
            }
            &::after{
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
}
.cart-bar .cart-edit .quantity-edit button {
    background: none;
    font-size: 0;
    border: none;
}
.cart-bar .cart-edit .quantity-edit button i {
    font-size: 14px;
    color: #C0C0C0;
}
.cart-edit .quantity-edit button i {
    font-size: 16px;
    color: #d3d3d3;
}
edit .quantity-edit button {
    background: none;
    font-size: 0;
}
.cart-edit .quantity-edit button {
    background: none;
    font-size: 0;
}
.cart-bar .cart-edit .quantity-edit button i {
    font-size: 14px;
    color: #000000;
    &:hover{
        color: var(--color-primary-2);
    }
}
.cart-edit .quantity-edit button i {
    font-size: 16px;
    color: #d3d3d3;
}

.cart-bar .cart-edit .quantity-edit input {
    text-align: center;
    max-width: 26px;
    padding: 0;
}
.cart-edit .quantity-edit input {
    text-align: center;
    max-width: 55px;
    font-size: 16px;
    font-weight: 400;
    color: #040404;
}
.cart-bar .cart-edit .product-edit {
    margin-right: 15px;
}
.cart-bar .product-detail .product-name {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-primary-2);
}
.cart-bar .product-detail span {
    display: inline-block;
    line-height: 19px !important;
}
.cart-bar .product-detail .product-variation span {
    color: #868686;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    &.size{
        color: var(--color-primary);
    }
}

.cart-bar .product-detail .product-qnty, .cart-bar .product-detail .product-price {
    color: #404040;
    font-weight: 400;
    font-size: 13px;
}

.cart-bar .cart-bottom-area {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cart-bar .cart-bottom-area .spend-shipping {
    margin-bottom: 30px;
    background: #F5F5F5;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-heading-1);
    text-align: center;
}
.cart-bar .cart-bottom-area .spend-shipping i {
    font-size: 15px;
    margin-right: 7px;
}
.cart-bar .cart-bottom-area .spend-shipping .amount {
    font-weight: 700;
    color: var(--color-primary);
    margin-left: 5px;
}
.cart-bar .cart-bottom-area .total-price {
    font-size: 18px;
    color: #040404;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 600;
    span{
        color: var(--color-primary-2);
    }
}
.cart-bar .cart-bottom-area .checkout-btn {
    border: 1px solid var(--color-primary-2);
    margin-bottom: 10px;
    color: var(--color-primary-2);
}
.cart-bar .cart-bottom-area .cart-btn {
    width: 100%;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 14px;
    text-align: center;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
.cart-bar .cart-bottom-area .view-btn {
    border: 1px solid transparent;
    background: var(--color-primary-2);
    color: #fff;
}
.cart-bar .cart-bottom-area .cart-btn {
    width: 100%;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 14px;
    text-align: center;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.cart-bar .cart-bottom-area .checkout-btn:hover {
    background: var(--color-primary-2);
    color: #fff;
}

.cart-bar .product-detail .product-name{
    color: var(--color-heading-1);
    font-weight: 500;
    transition: .3s;
    &:hover{
        color: var(--color-primary);
    }
}

.home-one, .home-two{
    .cart-bar .cart-bottom-area .total-price span,
    .cart-bar .cart-bottom-area .checkout-btn,
    .cart-bar .cart-bottom-area .spend-shipping{
        color: var(--color-primary);
    }
    .cart-bar .cart-bottom-area .checkout-btn{
        border: 1px solid var(--color-primary);
    }
    .cart-bar .cart-bottom-area .view-btn{
        background: var(--color-primary);
    }
    .cart-bar .cart-bottom-area .checkout-btn:hover{
        color: var(--color-white);
        background: var(--color-primary);
    }
}

.cart-bar{
    .cart-bottom-area{
        .btn-border{
            border-color: var(--color-primary);
            color: var(--color-primary);
            margin-top: 20px;
            &:hover{
                color: var(--color-white);
                border-color: var(--color-heading-1);
            }
        }
    }
}



 .offcanvas-trigger {
    display: block;
    color: var(--color-heading-1);
    position: relative;
    cursor: pointer;
    font-size: 0.25em;
    line-height: 1;
    .offcanvas-bars {
        display: inline-block;
        width: 21px;
        margin: 0;
        vertical-align: middle;
        height: 20px;
        span {
            display: inline-block;
            height: 2px;
            margin-left: 0;
            -webkit-transform-origin: left center;
            transform-origin: left center;
            background-color: var(--color-heading-1);
            width: 100%;
            position: relative;
            overflow: hidden;
            margin-bottom: 5px;
            background-color: transparent;
            transition: transform 0.3s, opacity 0.3s, width 0.3s, background-color 0.3s 0.3s, -webkit-transform 0.3s;
            border-radius: 1px;
            @media #{$sm-layout} {
                margin-bottom: 4px;
            }

            &::before,
            &::after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: var(--color-heading-1);
            }

            &::before {
                transform: translate(-100%, 0);
                transition: all 0.325s cubic-bezier(0.38, 0.98, 0.4, 1);
            }

            &::after {
                transition: all 0.325s cubic-bezier(0.38, 0.98, 0.4, 1);
            }

        }
    }
    &.canvas-white{
        .offcanvas-bars{
            span{
                &::before,
                &::after{
                    background-color: var(--color-white);
                }
            }
        }
    }
    &:hover {
        .offcanvas-bars {
            span {
                &::before {
                    -webkit-transform: translate(0, 0);
                    transform: translate(0, 0);
                }
                &::after {
                    -webkit-transform: translate(100%, 0);
                    transform: translate(100%, 0);
                }
                &:first-child {
                    &::before {
                        -webkit-transition-delay: 0.18s;
                        transition-delay: 0.18s;
                    }
                }
                &:nth-child(2) {
                    &::before {
                        -webkit-transition-delay: 0.24s;
                        transition-delay: 0.24s;
                    }
                }
                &:nth-child(2) {
                    &::after {
                        -webkit-transition-delay: 0.06s;
                        transition-delay: 0.06s;
                    }
                }
                &:last-child {
                    &::before {
                        -webkit-transition-delay: 0.30s;
                        transition-delay: 0.30s;
                    }
                }
                &:last-child {
                    &::after {
                        -webkit-transition-delay: 0.12s;
                        transition-delay: 0.12s;
                    }
                }
            }
        }
    }
}