
.single-events-wrapper{
    overflow: hidden;
    box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
    padding: 20px;
    border-radius: 6px;
    background: var(--color-white);
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
    transition: .4s;
    @media #{$smlg-device} {
        padding: 20px;
    }
    @media #{$sm-layout} {
        padding: 18px;
    }
    @media #{$large-mobile} {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .thumbnail{
        max-width: 231px;
        display: block;
        overflow: hidden;
        border-radius: 4px;
        @media #{$large-mobile} {
            max-width: 100%;
        }
        img{
            transition: .3s;
            @media #{$large-mobile} {
                width: 100%;
            }
        }
    }
    .inner-content{
        .top-area{
            display: flex;
            align-items: center;
            gap: 30px;
            @media #{$laptop-device} {
                gap: 10px;
            }
            @media #{$smlg-device} {
                align-items: flex-start;
                gap: 5px;
                flex-wrap: wrap;
            }
            @media #{$sm-layout} {
                flex-direction: column;
            }
            @media #{$large-mobile} {
                flex-direction: row;
                gap: 15px;
            }
            .single{
                display: flex;
                align-items: center;
                gap: 10px;
                p{
                    margin: 0;
                    font-size: 14px;
                    line-height: 1;
                }
            }
        }
        .title{
            font-size: 20px;
            line-height: 1.3;
            margin-bottom: 15px;
            margin-top: 10px;
            transition: .3s;
            @media #{$smlg-device} {
                font-size: 16px;
            }
            &:hover{
                color: var(--color-primary);
            }
        }
    }
    &:hover{
        transform: scale(1.02);
        .thumbnail{
            img{
                transform: scale(1.10);
            }
        }
    }
}

.event-title-area{
    @media #{$sm-layout} {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start !important;
    }
}
.single-events-area-grid{
    padding: 30px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 13px rgba(215, 216, 222, 0.41);
    background: var(--color-white);
    transition: .3s;
    height: 100%;
    @media #{$sm-layout} {
        padding: 20px;
    }
    .thumbnail{
        display: block;
        overflow: hidden;
        margin-bottom: 30px;
        border-radius: 6px;
        img{
            transition: .5s;
            width: 100%;
        }
    }
    .inner-content{
        .top-area{
            display: flex;
            align-items: center;
            gap: 20px;
            @media #{$laptop-device} {
                gap: 10px;
            }
            .single{
                display: flex;
                align-items: center;
                gap: 5px;
                i {
                    font-size: 14px;
                }
                p{
                    margin: 0;
                    font-size: 14px;
                    line-height: 1;
                }
            }
        }
        .title{
            font-size: 20px;
            line-height: 1.3;
            margin-bottom: 15px;
            margin-top: 10px;
            transition: .3s;
            @media #{$smlg-device} {
                font-size: 16px;
            }
            &:hover{
                color: var(--color-primary);
            }
        }
    }
    &:hover{
        transform: scale(1.02);
        .thumbnail{
            img{
                transform: scale(1.10);
            }
        }
    }
}

.mySwiper-events-grid{
    margin: -15px;
    padding: 15px;
}

.mt-dec-100-ed{
    margin-top: -100px;
    @media #{$sm-layout} {
        margin-top: 0;
        padding-top: 60px;
    }
}

// events details
.events-details-wrapper-start{
    border: 1px solid var(--color-border);
    // box-shadow: var(--shadow-1);
    background: var(--color-white);
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 30px;
    .thumbnail-events-details{
        position: relative;
    }
    .action-area-events{
        padding: 25px;
        background: var(--color-white);
        margin: 0 30px;
        margin-top: -70px;
        z-index: 10;
        position: relative;
        border-radius: 6px;
        box-shadow: var(--shadow-1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media #{$sm-layout} {
            flex-wrap: wrap;
            margin-top: 30px;           
        }
        @media #{$large-mobile} {
            margin: 0;
            margin-top: 0;
        }
        .small-meta-details{
            flex-basis: 33%;
            .top{
                display: flex;
                align-items: center;
                gap: 10px;
                @media #{$large-mobile} {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .icon{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    background: var(--primary-100);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        color: var(--color-primary);
                    }
                }
                p.disc{
                    font-size: 22px;
                    font-weight: 500;
                    color: var(--color-heading-1);
                    margin: 0;
                }
            }
            .main{
                font-size: 16px;
                margin-bottom: 0;
                margin-top: 5px;
                padding-left: 50px;
                display: flex;
                align-items: center;
                gap: 10px;
                @media #{$large-mobile} {
                    padding-left: 0;
                    font-size: 14px;
                }
                .current{
                    font-weight: 600;
                    font-size: 24px;
                    color: var(--color-heading-1);
                }
                .off{
                    font-size: 18px;
                    text-decoration: line-through;
                    font-weight: 500;
                    opacity: .4;
                }
            }

        }
        .events-info-wrapper{
            display: flex;
            align-items: flex-start;
            gap: 20px;
            flex-basis: 80%;
            @media #{$smlg-device} {
                flex-wrap: wrap;
            }
            @media #{$sm-layout} {
                flex-basis: 100%;
            }
            .small-meta-details{
                flex-basis: 33%;
                @media #{$smlg-device} {
                    flex-basis: 48%;
                }

                @media #{$md-layout} {
                    flex-basis: 80%;
                }
                 @media #{$sm-layout} {
                    flex-basis: 100%;
                }
            }
        }
        .action-button-area{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @media #{$sm-layout} {
                margin-top: 30px;
            }
            .tmp-btn{
                display: flex;
                align-items: center;
                gap: 10px;
                i{
                    font-size: 16px;
                    top: -1px;
                    font-weight: 400;
                }
            }
        }
    }
}


.events-faqs-area{
    .accordion-one .accordion-item h2{
        margin-bottom: 0;
    }
    .accordion-one .accordion-item .accordion-body p.desc {
        padding-right: 15%;
        @media #{$sm-layout} {
            padding-right: 0;
        }
    }
}

.bg-box-shadow{
    box-shadow: var(--shadow-1);
    background: var(--color-white);
    padding: 30px;
    margin: 0 30px;
    margin-top: 30px;
    border-radius: 6px;
    @media #{$large-mobile} {
        padding: 12px;
    }
    @media #{$small-mobile} {
        margin: 0;
        margin-top: 30px;
    }
}

