.filter-button-1{
    padding: 0 25px;
    font-size: 18px;
    height: 50px;
    line-height: 48px;
    max-width: max-content;
    margin-left: auto;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    i{
        font-weight: 400;
    }
    &.open{
        i{
            font-weight: 400;
            font-size: 16px;
            &::before{
                content: "\e17b";
            }
        }
    }
}

.filter-shorting-list-wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
    .tmp-search-filter{
        .tmp-search{
            position: relative;
            input{
                height: 50px;
                border-radius: 6px;
                width: 450px;
                border: 1px solid var(--color-border);
                @media #{$sm-layout} {
                    width: 320px;
                }
                @media #{$large-mobile} {
                    width: 270px;
                }
                @media #{$small-mobile} {
                    width: 200px;
                }
                &:focus{
                    border-color: var(--color-primary);
                }
            }
            button{
                position: absolute;
                right: 8px;
                border: none;
                padding: 11px 12px;
                top: 50%;
                transform: translateY(-50%);
                height: auto;
            }
        }
    }
}

.default-exp-expand{
    display: none;
}

.tmp-filter-widget-wrapper {
    box-shadow: var(--shadow-1);
    padding: 30px;
    border-radius: 6px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    color: var(--color-heading-1);
    .tmp-single-widget{
        background: var(--color-white);
        padding-top: 30px;
        .inner{
            .tmp-widget-title{
                font-size: 12px;
                padding-bottom: 15px;
                border-bottom: 2px solid var(--color-border);
                margin-bottom: 15px;
                color: var(--color-heading-1);
                text-transform: uppercase;
                letter-spacing: 0.5px;
                opacity: 0.8;
            }
            .tmp-check-group {
                position: relative;

                margin-top: 12px;
                margin-bottom: 12px;
                label{
                    position: relative;
                    font-size: 15px;

                    display: flex;
                    justify-content: space-between;
                    span.tmp-lable-count{
                        background: #f7f7f7;
                        padding: 5px 7px;
                        font-size: 12px;
                        display: flex;
                        height: 22px;
                        align-items: center;
                        border-radius: 4px;
                    }
                    &::before{
                        content: " ";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 14px;
                        height: 14px;
                        background-color: #fff;
                        border: 2px solid var(--color-border);
                        border-radius: 2px;
                        transition: all 0.3s;
                    }
                    &::after{
                        content: " ";
                        position: absolute;
                        top: 3px;
                        left: 2px;
                        width: 10px;
                        height: 5px;
                        background-color: transparent;
                        border-bottom: 2px solid #fff;
                        border-left: 2px solid #fff;
                        border-radius: 2px;
                        transform: rotate(-45deg);
                        opacity: 1;
                        transition: all 0.3s;
                    }
                }
                input[type=checkbox]:checked ~ label::before, input[type=radio]:checked ~ label::before {
                    background-color: var(--color-primary);
                    border-color: var(--color-primary);
                }
            }
        }
        .rating{
            display: flex;
            align-items: center;
            margin-top: -3px;
            gap: 2px;
            i{  
                font-size: 13px;
                color: #FF9747;
                transition: 0.3s;
            }
        }
    }
    .tmp-single-widget:first-child {
        padding-top: 0;
    }
    .has-show-more {
        .has-show-more-inner-content{
            max-height: 120px;
            overflow: hidden;
        }
    }
    .tmp-show-more-btn {
        font-size: 14px;
        font-weight: 700;
        color: var(--color-primary);
        display: block;
        margin-top: 5px;
        position: relative;
        padding: 3px 0;
        cursor: pointer;
    }
    .has-show-more.active .has-show-more-inner-content {
        max-height: inherit !important;
    }
    .tmp-show-more-btn::before {
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
        position: absolute;
        content: "";
        left: 0;
        bottom: 100%;
        width: 100%;
        height: 80px;
    }
    .tmp-show-more-btn{
        &::after {
            content: "\f078";
            position: absolute;
            font-family: "fontawesome";
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &.active{
            &::before{
                display: none;
            }
            &::after {
                content: "\f077";
            }
        }
    }
}
