.map-contact {
  height: 100%;
  @media #{$mdsm-layout} {
    height: 550px;
  }
}
.map-marker-container {
    position: absolute;
    margin-top: 10px;
    transform: translate3d(-50%, -100%, 0px);
}
.marker-container {
    position: relative;
    top: 25px;
    left: 10px;
    width: 46px;
    height: 46px;
    z-index: 1;
    cursor: pointer;
    perspective: 1000px;
    border-radius: 50%;
}
.marker-card .face {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  color: #fff;
  z-index: 100;
  background: var(--color-primary);
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: content-box;
  background-clip: content-box;
  line-height: 46px;
  font-size: 24px;
}

.marker-card .face::before,
.marker-card .face::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 9999px;
  -webkit-animation: ripple 2s infinite;
  animation: ripple 2s infinite;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.marker-card .face::before {
  content: "";
  position: absolute;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.marker-card .face::after {
  content: "";
  position: absolute;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#singleListingMap .marker-container {
  cursor: default;
}

#singleListingMap .marker-container {
  cursor: default;
}

.marker-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: absolute;
  z-index: 1;
}



.contact-map-item .inner-box {
  position: relative;
  background: #ffffff;
  width: fit-content;
  border-radius: 10px;
  overflow: hidden;
  .image-box{
    display: block;
    overflow: hidden;
  }
  img{
    transition: .5s;
  }
  &:hover{
    img{
        transform: scale(1.1);
    }
  }
}
.contact-map-item .infoBox-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease;
  background: #ffffff;
}
.contact-map-item .content {
  padding: 20px;
}
.contact-map-item .content .title {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.86px;
  color: #1c1c1e;
  font-family: "Manrope", sans-serif;
}
.contact-map-item .content .list-info li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 19.6px;
  color: #5c6368;
  font-family: "Manrope", sans-serif;
}
.contact-map-item .content .list-info li .icon {
  font-size: 16px;
  color: #a3abb0;
}
.contact-map-item .content .list-info li:not(:last-child) {
  margin-bottom: 6px;
}


.top-map {
    height: 800px;
    @media #{$mdsm-layout} {
      height: 400px;
    }
}



// map list

#map .infoBox {
    margin-left: 160px;
    margin-bottom: -140px;
}

.map-listing-item {
    position: relative;
    .content{
        .location{
            display: none !important;
        }
    }
    .inner-box {
        position: relative;
        border-radius: 16px;
        background: #ffffff;
        width: fit-content;
        box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1019607843);
        display: flex;
        align-items: center;
        padding: 16px;
        padding-right: 40px;
        gap: 16px;
        min-width: 560px;
        gap: 30px;
        padding-right: 16px;
    }
    .infoBox-close {
        position: absolute;
        right: 8px;
        top: 8px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        border-radius: 50px;
        z-index: 9;
        text-align: center;
        cursor: pointer;
        transition: all 300ms ease;
        background: #ffffff;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.06);
    }
    .inner-box .image-box {
        width: 200px;
        height: 200px;
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 500ms ease;
        }
    }
    .content {
        position: relative;
        flex-grow: 1;
        .title{
            margin-bottom: 20px !important;
        }
        .location {
            color: #5c6368;
            font-size: 14px;
            line-height: 19.6px;
            display: flex;
            align-items: center;
            gap: 4px;
            font-family: "Manrope", sans-serif;
            .icon {
                font-size: 16px;
                color: #a3abb0;
            }
            .text {
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
            }
        }
        .title {
            font-size: 18px;
            line-height: 25.2px;
            text-transform: capitalize;
            margin-top: 4px;
            font-weight: 600;
            margin-top: 8px;
            font-family: "Manrope", sans-serif;
        }
        .list-info {
            margin-top: 8px;
            display: flex;
            gap: 6px;
            flex-direction: column;
            align-items: flex-start;
            li {
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 14px;
                line-height: 19.6px;
                font-family: "Manrope", sans-serif;
                .icon {
                    font-size: 16px;
                    color: #a3abb0;
                }
                .text-variant-1 {
                    color: #5c6368;
                }
            }
        }
    }
    .inner-box{
        .box-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 16px;
            padding-top: 16px;
            border-top: 1px solid #e4e4e4;
            .box-bottom .avt-box {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 14px;
                line-height: 19.6px;
                font-family: "Manrope", sans-serif;
            }
            .avt-box img {
                width: 34px;
                height: 34px;
                border-radius: 50%;
            }
            .price {
                font-size: 18px;
                line-height: 25.2px;
                font-weight: 600;
            }
        }
    }
}