//  tmp pagination area start one

.tmp-elevate-pagination{
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        list-style: none;
        li{
            margin: 0;
            margin-right: 10px;
            button{
                width: 50px;
                height: 50px;
                background: transparent;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #000;
                border: 1px solid #E9E9E9;
                transition: .3s;
                &.active{
                    background: var(--color-primary);
                    color: #fff;
                }
                &:hover{
                    background: var(--color-primary);
                    color: #fff;
                }
            }
        }
    }
}


.pagination-controler{
    position: relative;
    .swiper-pagination{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        gap: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.dot-transparent{
            bottom: 50px;
            @media #{$sm-layout} {
                bottom: 30px;
            }
        }
        &.dot-color-white{
            .swiper-pagination-bullet{
                background: var(--color-white);
            }
        }
        @media #{$mdsm-layout} {
            bottom: 30px;
        }
        @media #{$small-mobile} {
            bottom: 20px;
        }
        .swiper-pagination-bullet{
            background: var(--color-heading-1);
            opacity: 0.4;
            position: relative;
            z-index: 1;
            width: 6px;
            height: 6px;
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 6px;
                height: 6px;
                background: transparent;
                border: 1px solid var(--color-primary);
                border-radius: 50%;
                opacity: 0;
                transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
        }
        .swiper-pagination-bullet-active{
            opacity: 1;
            background: transparent !important;
            &::after{
                opacity: 1;
                transform: translate(-50%, -50%) scale(2);
            }
        }
    }
}
