// social area style hear

.social-wrapper-one{
    ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
    }
    li{
        margin-right: 10px;
        margin-top: 0;
        margin-bottom: 0;
        a{
            width: 40px;
            height: 40px;
            display: block;
            background: #171717;
            border: 1px solid #222222;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s;
            i{
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                color: #FFFFFF;
            }
        }
    }
}



// social area start
.tmp-social-wrapper-three{
    ul{
        padding: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        list-style: none;
        margin-top: 34px;
        li{
            margin: 0;
            padding: 0;
            a{  
                i{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    display: block;
                    background: #22282C;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    justify-content: center;
                    transition: .3s;
                }
                &:hover{
                    i{
                        background: var(--color-primary);
                    }
                }
            }
        }
    }
}

.social-share-wrapper-1{
    .short-title{
        display: block;

        font-size: 12px;
        padding-bottom: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-bottom: 6px;
        border-bottom: 1px dashed var(--color-border);
    }
    .social-stylle-one{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style: none;
        justify-content: center;
        margin: -5px;
        li{
            margin: 5px;
            a{
                width: 48px;
                background-color: transparent;
                height: 48px;
                line-height: 45px;
                text-align: center;
                display: inline-block;
                border-radius: 100%;
                transition: 0.3s;
                color: var(--color-body);
                z-index: 2;
                position: relative;

                line-height: 41px;
                background: transparent;
                border: 2px solid var(--color-border);
                i{
                    vertical-align: middle;
                }
                &::after{
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    background: var(--color-primary);
                    transform: scale(0.5);
                    opacity: 0;
                    transition: 0.3s;
                    border-radius: 100%;
                    border: 2px solid var(--color-primary);
                }
                &:hover{
                    border-color: transparent !important;
                    i{
                        color: #fff;
                    }
                    &::after{
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.style-footer{
        .social-stylle-one{
            li{
                margin: 3px;
                a{
                    width: 38px;
                    height: 38px;
                    line-height: 38px;
                    border: transparent;
                    background: #ffffff0a;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i{
                        color: var(--color-white);
                    }
                }
            }
        }
    }
}