
.why-choose-ful-width-area{
    .why-choose-us-img-area{
        position: relative;
        background: url(../images/why-choose-us/08.webp) no-repeat center center;
        background-size: cover !important;
        padding: 100px 15px;
        height: 100%;
        min-height: 350px;
        border-radius: 6px;
        &.in-about{
            background: url(../images/why-choose-us/09.webp) no-repeat center center;
        }
        &.in-hydro-power{
            background: url(../images/why-choose-us/11.webp) no-repeat center center;
        }
    } 
    &.safety-area{
        .why-choose-us-img-area{
            border-radius: 6px;
            background-size: cover;
            &.in-safety{
                background: url(../images/why-choose-us/10.webp) no-repeat center center;
                @media #{$smlg-device} {
                    margin-top: 30px;
                }
            }
        }
    }  
}



.why-choose-us-fluid-right-content{
    padding: 100px 100px 100px 70px;
    @media #{$laptop-device} {
        padding: 50px 70px;
    }
    @media #{$smlg-device} {
        padding: 50px 0 0 15px;
    }
    .section-title{
        margin-bottom: 10px;
        @media #{$laptop-device} {
            font-size: 36px;
            line-height: 1.3;
        }
    }
    .why-choose-feature-wrapper{
        .single-feature{
            display: flex;
            align-items: flex-start;
            gap: 20px;
            margin-bottom: 30px;
            @media #{$small-mobile} {
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
            }
            &:last-child{
                margin-bottom: 0;
            }
            .icon{
                    min-width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background: var(--primary-100);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                i{
                    font-size: 30px;
                    color: var(--color-primary);
                }
            }
            .content{
                width: calc(100% - 180px);
                @media #{$laptop-device} {
                    width: 100%;
                }
                @media #{$smlg-device} {
                    width: 100%;
                }
                .title{
                    margin-bottom: 7px;
                }
            }
        }
    }
}